@use "variables";
@use "theme";

@use "blockquote";
@use "code";
@use "footnote";
@use "list";
@use "scrollbar";

@import "mixins";

body {
  @include flex;
  @include justify-center;
  @include w-full;
  @include h-full;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -webkit-font-smoothing: subpixel-antialiased;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

  line-height: calc(1.25 * var(--line-height));

  color: var(--text-primary);
  background-color: var(--background);
}

a {
  word-break: break-all;

  text-decoration: none;
  color: var(--link);

  &:link,
  &:visited {
    color: inherit;
  }

  &:hover {
    @include underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--text-primary);
}

hr {
  @include w-full;
  height: 2px;
  border: none;
  background-color: var(--text-muted);
}

img {
  @include block;
  @include w-full;
  @include h-auto;
}

p {
  @include w-full;

  hyphens: auto;
}

table {
  @include w-full;

  border: 2px solid var(--text-muted);
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    background-color: var(--background-light);
  }

  th,
  td {
    @include px(2);

    border: 2px solid var(--text-muted);
  }
}

strong {
  font-weight: 700;
}

::selection {
  background: var(--selection-background);
}

.container {
  @include flex;
  @include flex-col;
  @include w-full;

  box-sizing: border-box;

  @include m(4);
  @include space-y(6);

  // Shift content horizontally due to appearance of vertical scrollbar
  padding-left: calc(100vw - 100%);

  @media (min-width: variables.$small-breakpoint) {
    width: variables.$small-breakpoint;
  }
}

body.home .container {
  @include justify-center;
  @include items-center;
}

body.taxonomy {
  main {
    @include flex;
    @include flex-col;
    @include space-y(4);

    > .name {
      font-weight: bold;
      font-size: 1.5em;
      color: var(--text-primary);
    }

    .term-list {
      @include grid;
      grid-template-columns: auto 1fr auto;
      @include gap(2, 4);

      .term-item {
        @include contents;

        * {
          @include text-right;
        }

        .name {
          @include text-left;
        }

        .count {
          color: var(--text-muted);
        }

        .last-published-date {
          color: var(--text-muted);
        }
      }
    }

    .page-list {
      @include grid;
      grid-template-columns: auto 1fr;
      @include gap(2, 4);

      .page-item {
        @include contents;

        * {
          @include text-left;
        }

        .date {
          color: var(--text-muted);
        }
      }
    }
  }
}

body.blog {
  main {
    @include flex;
    @include flex-col;
    @include space-y(4);

    .post-list {
      @include grid;
      grid-template-columns: auto 1fr;
      @include gap(2, 4);

      .post-item {
        @include contents;

        .date {
          @include text-left;
          color: var(--text-muted);
        }

        .title {
          @include text-left;
          color: var(--text-primary);
        }
      }
    }

    .post {
      @include flex;
      @include flex-col;
      @include justify-start;
      @include items-start;
      @include space-y(4);

      .title {
        font-weight: bold;
        font-size: 1.5em;
        color: var(--text-primary);
      }

      .metadata {
        @include flex;
        @include flex-row;
        @include justify-start;
        @include items-center;

        * {
          @include px(2);
          border-right: 1px solid var(--text-muted);
        }

        *:first-child {
          @include pl(0);
        }

        *:last-child {
          @include pr(0);
          border-right: none;
        }
      }

      .tags {
        @include flex;
        @include flex-row;
        @include justify-start;
        @include items-center;
        @include space-x(1);

        color: var(--keyword);
      }

      .toc {
        nav {
          @include flex;
          @include flex-col;
          @include justify-start;
          @include items-start;
          @include space-y(2);

          .second {
            @include pl(4);
          }
        }
      }

      .content {
        @include flex;
        @include flex-col;
        @include w-full;
        @include min-w-n(0);
        @include justify-start;
        @include items-start;
        @include space-y(4);

        line-height: calc(2 * var(--line-height));

        #continue-reading {
          @include m(0);
        }
      }
    }
  }

  footer {
    .navigation {
      @include flex;
      @include flex-row;
      @include items-center;

      .previous {
        @include mr-auto;
      }

      .next {
        @include ml-auto;
      }
    }
  }
}

.header {
  @include my(2);
  @include space-y(6);

  .information {
    @include items-center;
    @include space-y(1);

    .name {
      @include text-center;

      font-size: 2em;
      font-weight: 600;
      color: var(--text-primary);

      * {
        @include no-underline;
      }
    }

    .description {
      @include text-center;
      color: var(--text-secondary);
    }
  }

  .parts {
    @include flex;
    @include flex-row;
    @include justify-center;
    @include items-center;
    @include space-x(3);

    .part {
      color: var(--text-secondary);
    }

    .part.active {
      @include underline;

      color: var(--text-primary);
    }
  }
}

.icon {
  @include flex;
  @include justify-center;
  @include items-center;

  width: 1em;
  height: 1em;

  svg {
    color: inherit;
  }
}
