@import "mixins";

blockquote {
  @include flex;
  @include flex-col;
  @include max-w-full;
  @include space-y(2);
  @include p(4);

  border-left: 0.4em solid var(--text-muted);
  background-color: var(--background-light);
}

blockquote blockquote {
  background-color: var(--background);
}

blockquote blockquote blockquote {
  background-color: var(--background-light);
}
