@import "mixins";

pre,
code {
  background-color: var(--background-light);
  font-family: var(--mono-font-family);
  font-size: var(--font-size);
}

code {
  vertical-align: baseline;
}

pre {
  @include block;
  @include w-full;
  @include p(4);

  overflow-x: auto;
}
