@import "mixins";

pre,
code {
  background-color: var(--background-light);
  font-family: var(--mono-font-family);
  font-size: var(--font-size);
}

code {
  padding: 0.25em 0.25em;
  border-radius: 0.25em;
  vertical-align: baseline;
}

pre {
  @include block;
  @include w-full;
  @include py(4);
  @include relative;

  overflow-x: auto;

  &[data-name]::before {
    @include block;
    @include px(4);
    @include font-bold;

    content: "> " attr(data-name);
    color: var(--text-primary);
  }

  .copy {
    @include hidden;
    @include absolute;

    @include top-n(4);
    @include right-n(4);
    @include mt(1.5);
    @include mr(1.5);

    @include w-n(5);
    @include h-n(5);

    border: none;

    background: transparent;
    color: var(--text-primary);

    cursor: pointer;

    &.copied,
    &:hover {
      display: block;
    }
  }

  code {
    @include block;
    @include py(0);
    @include px(4);

    &:has(> mark, > span) {
      @include pl(2);
      @include pr(4);
    }

    > mark,
    > span {
      @include px(2);
    }
  }

  mark {
    @include block;
    background-color: var(--background);
  }

  table {
    @include w-full;

    border: none;
    border-collapse: collapse;

    td {
      @include p(0);
      border: none;

      &:nth-of-type(1) {
        @include w-px;
        @include text-right;
        @include pr(2);
        white-space: nowrap;
        user-select: none;

        mark {
          background-color: var(--background-light);
          color: var(--text-primary);
        }
      }

      &:nth-of-type(2) {
        @include text-left;

        > mark,
        > span {
          @include pl(2);
        }
      }
    }
  }

  @media (hover: hover) {
    &:hover .copy {
      display: block;
    }
  }
}

.z-code {
  background-color: var(--background-light);
}
