@import "mixins";

sup.footnote-reference {
  color: var(--text-secondary);
}

.footnotes {
  @include w-full;
  @include pt(4);

  border-top: 2px solid var(--text-muted);
}

.footnotes-list li {
  @include w-full;

  list-style-position: inside;
  color: var(--text-secondary);

  p {
    @include inline;

    color: var(--text-primary);
  }
}
