@mixin light {
  --foreground: #222222;
  --background: #eeeeee;
  --secondary: #808080;
  --tertiary: #dddddd;
  --accent: #3d3cba;
  --accent-highlight: #171746;
  --table-border: #d0d0d0;
  --table-row: #f7f7f7;
}

@mixin dark {
  --foreground: #eeeeee;
  --background: #161616;
  --secondary: #999999;
  --tertiary: #444444;
  --accent: #959bf0;
  --accent-highlight: #c2c5f6;
  --table-border: var(--tertiary);
  --table-row: #1e1e1e;
}

:root {
  @include dark;
}

@media (prefers-color-scheme: light) {
  :root {
    @include light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include light;
  }
}
