{% macro _description() %}
  {% if page %}
    {% if page.summary %}
      {% set description = page.summary %}
    {% elif page.description %}
      {% set description = page.description %}
    {% endif %}
  {% elif section %}
    {% if section.description %}
      {% set description = section.description %}
    {% endif %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
  {% if description %}
    {{ description }}
  {% endif %}
{% endmacro description %}

{%- macro description() -%}
{{ self::_description() | trim }}
{%- endmacro description -%}

{% macro _format_date(date, timezone, omit_current_year) %}
  {% if omit_current_year %}
    {% set current_year = now() | date(format="%Y") %}
    {% set date_year = date | date(format="%Y") %}
    {% if date_year == current_year %}
      {% set date_format = "%b %e" %}
    {% else %}
      {% set date_format = "%b %e, %Y" %}
    {% endif %}
  {% else %}
    {% set date_format = "%b %e, %Y" %}
  {% endif %}
  {{ date | date(format=date_format, timezone=timezone) }}
{% endmacro _format_date %}

{%- macro format_date(date, timezone="", omit_current_year=True) -%}
{% if timezone == "" %}{% set timezone = config.extra.timezone | default(value="Etc/UTC") %}{% endif %}
{{ self::_format_date(date=date, timezone=timezone, omit_current_year=omit_current_year) | trim }}
{%- endmacro format_date -%}

{% macro _datetime(date, timezone) %}
  {{ date | date(format="%+", timezone=timezone) }}
{% endmacro _datetime %}

{%- macro datetime(date, timezone="") %}
  {% if timezone == "" %}{% set timezone = config.extra.timezone | default(value="Etc/UTC") %}{% endif %}
  {{ self::_datetime(date=date, timezone=timezone) | trim }}
{%- endmacro datetime -%}
